@model CreateResourceTypeFormViewModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "اضافه مجموعة موردين";
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Desc" class="control-label"></label>
                        <input asp-for="Desc" class="form-control" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                </div>
             </div>
            <div class="form-group">
                <div class="col-md-12 ">
                    <input type="submit" value="حفظ" class="btn btn-primary btn-block m-2" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
   @*  <partial name="_ValidationScriptsPartial" />
  *@  
  
  @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/stock.js" asp-append-version="true"></script>
 
}